.nav {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.nav button {
  line-height: 2;
  color: black;
  font-family: "Patrick Hand", cursive;
  font-size: 24px;
  background-color: cornflowerblue;
  border-radius: 15px;
}

.nav button:hover {
  color: black;
  background-color: floralwhite;
}
