body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e8e8e8;
}

.menu {
  list-style: none;
  padding: 0;
  background-color: aqua;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 20px;
  display: block;
}

.menu li {
  display: inline-block;
}

.menu li a:hover {
  background-color: tomato;
}

.link button {
  float: right;
  margin: 20px;
  background-color: #e8e8e8;
  border-radius: 10%;
}

.link div {
  float: right;
  margin: 20px;
  background-color: blue;
  border-radius: 10%;
}

.link div:hover {
  background-color: green;
}

.boton-inicio {
<<<<<<< HEAD
     float: right;
     margin: 20px;
     background-color: #e8e8e8;
     border-radius: 10%;
}

.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.grid div {
    background-color: aqua;
    padding: 1em;
    border-radius: 5px;
}

.hola {
    grid-column: 1/5;
    grid-row: 1/6;
}

.grid div:hover {
    border: 1px solid #f1c40f;
}

.footer {
    background-color: aqua;
    padding: 1em;
    border-radius: 5px;
    grid-column: 1/5;
    grid-row: 1/6;
}

=======
  float: right;
  margin: 20px;
  background-color: #e8e8e8;
  border-radius: 10%;
}
>>>>>>> main
