/*body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e8e8e8;
}

.menu {
    list-style: none;
    padding: 0;
    background-color: aqua;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
}

.menu li a:hover{
    background-color: tomato;
} */

nav {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  
  nav a {
    margin: 16px;
    padding: 4px;
    line-height: 2;
    color: black;
    font-family: "Patrick Hand", cursive;
    font-size: 24px;
    background-color: gold;
    border-radius: 30px;
  }
  
  nav a:hover {
    color: black;
    background-color: floralwhite;
  }


